.project {
  height: 25rem;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  .project-card {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    align-items: center;
    justify-content: center;
    color: black;
    .card-image {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1rem;
    }
    .card-body {
      // height: 100%;
      box-sizing: border-box;
      display: grid;
      grid-template-rows: 1fr 5fr 1fr;
      .text {
        text-decoration: none;
      }
    }
    .button {
      &:hover {
        text-decoration: none;
      }
      border: 2px solid black;
    }
  }
  &:hover {
    transform: scale(1.02);
    .card-body {
      .text {
        text-decoration: none;
      }
    }
  }
}
