.portfolio {
  height: fit-content;
  background-color: rgb(204, 191, 9);
  padding-top: 15vh;
  .projects-title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Heebo", sans-serif;
    font-size: clamp(1.5rem, calc(1rem + 4vw), 4rem);
  }
  .projects {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
  }
}
