.portfolio {
  height: fit-content;
  background-color: rgb(204, 191, 9);
  padding-top: 15vh;
  // color: white;
  .projects-title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  .projects {
    padding: 0 4rem 0 4rem;
    box-sizing: border-box;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
  }
}
