.about {
  min-height: 90vh;
  padding-top: 15vh;
  margin-bottom: 15vh;
  transform-origin: center;
  display: flex;
  flex-flow: column;
  .title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  .about-content {
    display: flex;
    .who-i-am {
      width: 25%;
      border-right: 3px solid #000;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .who-i-am-photo {
        width: 15rem;
        height: 15rem;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-size: cover;
        border-radius: 50%;
      }
      .who-i-am-text {
        font-family: "Open Sans", sans-serif;
        text-align: center;
      }
    }
    .skills {
      box-sizing: border-box;
      width: 75%;
      min-height: 50vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 4rem;
      grid-template-areas:
        "skill skill skill"
        "skill skill skill"
        "skill";
      .skill {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .logo {
          font-size: 6rem;
          grid-area: "skill";
          text-align: center;
        }
      }
    }
  }
}
