.contact {
  @media screen and(max-width: 480px) {
    box-sizing: border-box;
    height: 90vh;
    width: 100%;
    padding-top: 15vh;
    background-color: rgb(204, 191, 9);
    .form {
      // padding: 0.3rem;
      display: grid;
      grid-template-areas:
        "name email"
        "message message"
        "submit submit";
      gap: 0.2rem;
      .input {
        height: 3rem;
      }
      .name {
        grid-area: name;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
      }
      .submit {
        grid-area: submit;
        height: 3rem;
      }
    }
  }
  @media screen and(min-width: 481px) {
    height: 90vh;
    padding-top: 15vh;
    transform-origin: center;
    background-color: rgb(204, 191, 9);
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .form {
      // padding: 0.3rem;
      display: grid;
      height: 50%;
      width: 60%;
      grid-template-areas:
        "name email"
        "message message"
        "submit submit";
      gap: 0.2rem;
      .input {
        height: 3rem;
      }
      .name {
        grid-area: name;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
      }
      .submit {
        grid-area: submit;
        height: 3rem;
      }
    }
  }
  .contact-title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  
}
