.contact {
  height: 90vh;
  padding-top: 15vh;
  transform-origin: center;
  background-color: rgb(204, 191, 9);
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  flex-flow: column;
  // justify-content: center;
  align-items: center;
  .contact-title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  .form {
    display: grid;
    grid-template-areas:
      "name email"
      "message message"
      "submit submit";
    flex-flow: column;
    height: 60%;
    width: 45%;
    gap: 0.7rem;
    .name {
      grid-area: name;
    }
    .email {
      grid-area: email;
    }
    .message {
      grid-area: message;
    }
    .submit {
      grid-area: submit;
    }
  }
}
