.contact {
  height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(204, 191, 9);
  .contact-title {
    font-size: clamp(1.5rem, calc(1rem + 4vw), 4rem);
  }
  .form {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 5%;
    row-gap: 0.5em;
    .input {
      height: 3rem;
    }
  }
  @media screen and(min-width: 800px) {
    .form {
      display: grid;
      height: 50%;
      width: 60%;
      grid-template-areas:
        "name email"
        "message message"
        "submit submit";
      gap: 0.5em;
      .input {
        height: 3rem;
        width: 100%;
      }
      .name {
        grid-area: name;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
      }
      .submit {
        grid-area: submit;
        height: 3rem;
      }
    }
  }
}
