.button {
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;
  border: 3px solid white;
  border-radius: 0.5rem;
  animation-duration: 1s;
  transition: all 500ms;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  .link {
    font-size: clamp(1em, 2vw, 2em);
    color: #fff;
    &:hover {
      text-decoration: none;
    }
    :focus {
      text-decoration: none;
    }
    :visited {
      text-decoration: none;
      color: #fff;
    }
  }
}

@media (max-width: 800px) {
  .button {
    width: 50%;
    .link {
      font-size: large;
      color: white;
      &:visited {
        color: #fff;
      }
    }
  }
}
