@import "../../styles/links/links";
.button {
  width: 18vw;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  animation-duration: 1s;
  transition: all 500ms;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 1.8rem;
  .text {
    @include internal-link;
    font-size: 1.8rem;
  }
  .icon {
    color: #fff;
    transition: all 0.3s;
    font-size: large;
    display: flex;
    .iconn {
      font-size: 20px;
    }
  }
  &:hover {
    .icon {
      transform: rotate(90deg);
    }
  }
}
